.founder {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.founder-container {
    width: 100%;
    padding: 50px 10%;
}

.founder-img {
    grid-area: img;
}

.founder-info {
    grid-area: info;
}

.skills {
    grid-area: skills;
}

.founder-container .founder-content {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-gap: 75px;
    grid-template-areas: "img info"
        "skills skills";
}

.founder-content .founder-img {
    position: relative;
    min-width: 300px;
    height: 380px;
}

.founder-content .founder-img::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    outline: 2px solid var(--primary-color);
    top: 15px;
    left: 15px;
}

.founder-img img {
    position: relative;
    z-index: 9;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.founder-info h2 {
    font-size: 25px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 5px;
    position: relative;
}

.founder-info h2::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 110%;
    left: 0;
    background-color: var(--primary-color);
}

.founder-info h1::after {
    content: "";
    position: absolute;
    width: 40%;
    height: 3px;
    top: calc(110% - 1px);
    left: 0px;
    background-color: var(--primary-color);
}

.founder-info h1 {
    font-size: 50px;
    font-weight: 500;
    color: var(--optional-color-1);
    padding: 15px 0 15px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.founder-info p {
    color: var(--optional-color-2);
    font-size: 18px;
    line-height: 1.2;
    text-align: justify;
    padding-bottom: 8px;
}

.founder-personal-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 20px;
    margin-top: 14px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--primary-color);
}

.founder-personal-info div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.founder-personal-info div span {
    color: var(--optional-color-1);
    letter-spacing: 1px;
}

.founder-info button {
    min-width: 150px;
    padding: 8px 18px;
    border: 1px solid var(--primary-color);
    border-radius: 100px;
    font-size: 18px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .2s;
    margin-top: 20px;
}

.founder-info button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 80px;
}

.skills .skills-container {
    font-size: 18px;
    font-weight: thin;
    color: var(--optional-color-2);
    padding-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.percentage-bar {
    width: 100%;
    height: 15px;
    background-color: var(--primary-color);
    padding: 4px 6px;
    border-top: 1px solid var(--optional-color-2);
    border-bottom: 1px solid var(--optional-color-1);
    border-radius: 100px;
}

.percentage-line {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    box-shadow: -1px -1px 2px var(--secondary-color),
        1px 1px 2px var(--secondary-color);
    border-radius: 100px;
}

.percentage-line::after {
    position: absolute;
    content: attr(value);
    top: -35px;
    right: 0;
    transform: translateX(-50%);
    color: var(--optional-color-1);
    font-size: 16px;
}

@media (max-width: 1080px) {
    .founder-container .founder-content {
        grid-template-areas: "img skills"
            "info info";
    }

    .skills {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20p;
    }
}

@media (max-width: 720px) {
    .founder-container .founder-content {
        grid-template-areas: "img img"
            "info info"
            "skills skills";
    }
}

@media (max-width: 680px) {
    .founder-personal-info {
        grid-template-columns: 1fr;
    }
}