<footer>
    <h1>Personal Webite</h1>
    <p class="description">Bui Viet Duc Hoang - 14517926</p>
    <ul>
        <li><a href="" class="social"><i class="fa-brands fa-facebook"></i></a></li>
        <li><a href="" class="social"><i class="fa-brands fa-youtube"></i></a></li>
        <li><a href="" class="social"><i class="fa-brands fa-instagram"></i></a></li>
        <li><a href="" class="social"><i class="fa-brands fa-twitter"></i></a></li>
    </ul>
    <p class="copyright">&copy; 2024 Personal Website. Founded by <a href="founder.html"
            class="name">Hoang&nbsp;Bui&nbsp;Viet&nbsp;Duc</a>.</p>
</footer>